// 引入默认清除样式
@import './reset.scss';

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.mgt-20px {
    margin-top: 20px;
}

.help-block {
    color: #888;
    font-size: 15px;
}

.btn-block {
    width: 100%;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #bdc3c7;
}

.el-card__header {
    font-weight: bold;
}